/* @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap'); */

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html,
body {
  background-color: #e0e0e0;
  font-family: Quicksand;

}




/* list notes */
.list {
  width: 85%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: max-content;

  padding: 20px 10px;
}


.card {
  border-radius: 8px;
  position: relative;
  border: 1px solid rgba(66, 58, 58, 0.2);
  padding-top: 10px;
  padding-inline: 10px;
  padding-bottom: 4rem;
  display: flex;
  background: #e6e5a3;
  background: #e0e0e0;
  box-shadow:  5px 5px 10px #c7c7c7,
               -5px -5px 10px #f9f9f9;
  gap: 10px;
  background-color: hsl(59, 57%, 77%);
  flex-direction: column;
}
.card > p{
  overflow: hidden;

}

.archive-button, .restore-button{
  position: absolute;
  bottom: 10px;
  right: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 16px;
  margin: 0px 10px;
  align-self: flex-end;
  border-radius: 10px;
  background: linear-gradient(145deg, #f6f5ae, #cfce93);
  background: #e6e5a3;
  box-shadow:  11px 11px 22px #c6c58c,
               -11px -11px 22px #ffffba;

  border: 2px solid #ffffba;
  cursor: pointer;
  align-self: flex-end;
}

.card > .delete-button{
  display: flex;
  align-items: center;
  width: 5vh; 
  height: 5vh; 
  padding: 2px;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: #E00034;
  text-align: center;
  font-size: 2em;
  color: #fefefe;
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  visibility: hidden;
}

.card:hover .delete-button {
  visibility: visible;
}
::backdrop{
  background: #e0e0e080;
  display: flex;
}


.dialog-container {
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

dialog {
  border-radius: 20px;
  margin: auto;
  border: 1px solid transparent;
  background-color: transparent;
  
  animation: fade-out 0.5s ease-in-out;
}

dialog[open] {
  animation: fade-in 0.5s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.5s ease-in-out forwards;
}


@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scale(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scale(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}



.dialog-box {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative; 
  width: 90vw; 
  height: 90vh;
  margin: auto;
  padding-bottom: 100px;
  overflow: auto;
}


.open-dialog{
  position:relative;
  justify-self: flex-end;
  display: flex;
  gap: 10px;
  font-weight: bold;
  font-size: 1.4em;
  padding: 10px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}

.close-dialog {
  position: relative;
  bottom: -20px;
  left: auto;
  cursor: pointer;
  padding:10px 20px;
  width: 120px;
  font-weight: bold;
  background-color:  #E00034;
  color: white;
  border-radius: 10px;
  border: 2px solid transparent;
}
.close-dialog:hover{
  background-color: #fefefe;
  color:  #E00034;
  border: 2px solid  #E00034;
}

.archived-list{
  display: grid;
  gap: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: max-content;
  margin-top: 30px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  visibility: visible; 
  transition: opacity 0.75s, visibility 0.75s; 
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid #dedede;
  border-color: #e6e5a3 transparent #e6e5a3 transparent; 
  border-radius: 50%;
  animation: spin 1s linear infinite; 
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loader.active {
  opacity: 0;
  visibility: hidden;
}
